.CheckBoxField {
    display: flex;
    margin: 0 0 20px;
    align-items: center;
    width: 100%;
}
.CheckBoxField label, input {
    display: block;
    width: 100%;
}
.CheckBoxField label {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding-left: 10px;
}
.CheckBoxField input {
    width: 25px;
    height: 25px;
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 8px;
    color: rgba(0, 0, 0, 0.7);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    transition: 0.2s ease;
}
.CheckBoxField input:focus {
    border: 1.6px solid rgba(0, 0, 0, 0.5);
}
.CheckBoxField input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}