.segurosTexts {
  color: #0b3a5e;
  position: relative;
}
.segurosTexts > h2 {
  font-size: 3rem;
  line-height: 3.4rem;
  font-weight: bold;
  margin-bottom: 0;
  text-align: unset;
}
.segurosTexts > p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 24px;
}
.h1gradiente {
  background: linear-gradient(90deg, #cdd400 10.89%, #6f892e 25%, #0b3a5e 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.adicionais {
  display: flex;
  flex-direction: column;
  margin: 14px 0px 60px 0px;
}
.adicionais p {
  font-size: 1.25rem;
  padding-left: 14px;
  margin-bottom: 0;
}
.adicionaisContent {
  display: flex;
  align-items: center;
  height: 64px;
}
.adicionaisContent img {
  width: 32px;
  height: 32px;
}
.saibamais {
  margin-top: 10px;
  padding: 15px 50px;
  background-color: #0b3a5e;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  transition: all 0.7s ease;
}
.saibamais:hover {
  background-color: #dade30;
  color: #0b3a5e;
  transition: all 0.7s ease;
}
@media screen and (max-width: 599px) {
  .saibamaisContainer {
    text-align: center;
  }
}