.botaoModal {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    width: 200px;
    height: 55px;
    background-color: #083A5F;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botaoModal{
    border: 0;
}
.botaoModal:hover {
    background: #5f5f5f;
    color: #FFF;
}
.botaoModal:active {
    background-color: unset;
    border-color: unset;
}
.botaoModal:focus {
    background-color: #083A5F;
    border: unset;
    box-shadow: unset;
}
@media screen and (max-width: 599px) {
    .botaoModal {
        max-width: 140px;
        height: 46px;
    }
}