.loading {
  position: relative;
  top: 150px;
  display: flex;
  align-items: center;
}
.loading img {
  height: 100px;
  margin: 50px auto;
}
.posts {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  color: #0b3a5e;
  max-width: 1270px;
  margin: 150px auto 10px auto;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
  flex-direction: row;
}
.post_container {
  width: 360px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(31,66,135,.3);
  margin-bottom: 50px;
}
.post_imagem {
  width: 100%;
  height: 189px;
  border-radius: 10px 10px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.post_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}
.post_title {
  display: flex;
  align-items: center;
  min-height: 56px;
  margin: 12px 0;
}
.post_title > a > h1 {
  color: #0b3a5e;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.post_content > div > h1 {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  
}
.post_content > p {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  min-height: 96px;
}
.post_infos {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e1e1f0;
  margin: 0px 20px;
  padding: 20px  0;
}
.data {
  position: relative;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.data:before {
  content: '';
  background-image: url(../assets/images/clock.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
}
.leiamais {
  display: flex;
  align-items: center;
  background-color: #0b3a5e;
  padding: 4px 30px;
  border-radius: 6px;
  color: #FFF;
  transition: all .7s ease;
}
.leiamais:hover {
  background-color: #dade30;
  color: #0b3a5e;
  transition: all .7s ease;
}
@media screen and (max-width: 1300px) {
  .posts {
    margin: 150px 16px 10px 16px;
  }
}
@media screen and (max-width: 1300px) {
  .posts {
    justify-content: center;
    gap: 50px;
  }
  .post_container {
    margin-bottom: unset;
  }
  .post_container:last-child {
    margin-bottom: 50px;
  }
}