.about {
  display: grid;
  grid-template-columns: minmax(104px, auto) minmax(380px, 635px) minmax(
      380px,
      635px
    ) minmax(104px, auto);
  background: #fff;
  margin-top: 200px;
  font-family: "Montserrat", sans-serif;
  background-image: url(../assets/images/bgabout.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
}
.about_missao {
  grid-column: 2 / 3;
}
.about_missao > h1 {
  max-width: 500px;
  font-size: 3rem;
  line-height: 3.4rem;
  font-weight: bold;
  margin-bottom: 40px;
  background: linear-gradient(90deg, #cdd400 10.89%, #6f892e 25%, #0b3a5e 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sobre_tab {
  border-bottom: 0;
}
[role="presentation"] {
  position: relative;
  background-color: #0c3b5e;
  margin-right: 5px;
  font-size: 1.3rem;
  line-height: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}
[role="presentation"]:last-child {
  margin-right: 0;
}
[role="tab"] {
  background-color: #0c3b5e;
  color: #fff;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
[role="tab"]:hover {
  background-color: #0c3b5e;
  color: #fff;
}
.nav-tabs .nav-link.active {
  background: #dade30;
  color: #0c3b5e;
  font-weight: 700;
}
.nav-tabs .nav-link.active:after {
  content: "";
  opacity: 1;
  width: 0;
  height: 0;
  position: absolute;
  left: 45%;
  bottom: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: #dade30 transparent transparent;
}
.tabs_textos {
  max-width: 500px;
}
.tabs_textos > p {
  font-weight: 500;
  font-size: 1.4rem;
  margin: 10px 0px 100px 0px;
  color: #0b3a5e;
}
.tabs_textos > ul li {
  font-size: 1.1rem;
  color: #0b3a5e;
}
.sobre_texto {
  font-weight: 500;
  font-size: 1.4rem;
  margin: 10px 0px 100px 0px;
  color: #0b3a5e;
}
.lista_valores {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 0;
}
.lista_valores_content {
  display: flex;
  align-items: center;
}
.lista_valores_content img {
  width: 25px;
  margin-right: 10px;
}
.lista_valores_content li {
  line-height: 1.2rem;
}
.textobold {
  font-weight: 700;
}
@media screen and (max-width: 1199px) {
  .about {
    grid-template-columns: minmax(16px, auto) 1fr minmax(16px, auto);
  }
  .about_missao {
    grid-column: 2 / 3;
  }
  .sobre {
    grid-column: 2 / 3;
    margin-top: 50px;
  }
}
