.about {
  display: grid;
  grid-template-columns:
    minmax(104px, auto) minmax(380px, 635px) minmax(380px, 635px)
    minmax(104px, auto);
  background: #fff;
  margin-top: 150px;
  font-family: "Montserrat", sans-serif;
  background-image: url(../assets/images/bgabout.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
}
.about_container_left {
  grid-column: 2 / 3;
}
.about_container_left > h1 {
  max-width: 500px;
  font-size: 3rem;
  line-height: 3.4rem;
  font-weight: bold;
  margin-bottom: 40px;
  background: linear-gradient(90deg, #cdd400 10.89%, #6f892e 25%, #0b3a5e 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about_container_right {
  grid-column: 3 / 4;
  position: relative;
  padding-top: 20px;
}
.about_container_right:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 36px;
  height: 8px;
  border-radius: 20px;
  background-color: #0b3a5e;
  box-sizing: border-box;
  width: 130px;
}
.about_container_right:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  height: 8px;
  border-radius: 20px;
  background-color: #0b3a5e;
  box-sizing: border-box;
  width: 30px;
}
.about_container_right p {
  font-size: 1.4rem;
  margin: 10px 0px 100px 0px;
  color: #0b3a5e;
}
.textobold {
  font-weight: 700;
}
.about_tabs {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.about_tabs > li {
  background-color: #0c3b5e;
  color: #fff;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 20px;
  padding: 10px 14px;
  font-size: 1.3rem;
}
.about_active {
  background: #dade30 !important;
  color: #0c3b5e !important;
  font-weight: 700;
  position: relative;
}
.about_active:after {
  border: 10px solid transparent;
  border-top-color: #dade30;
  bottom: -20px;
  content: "";
  height: 0;
  left: 45%;
  opacity: 1;
  position: absolute;
  width: 0;
}
.about_tabs_textos {
  max-width: 500px;
  margin-top: 26px;
  min-height: 310px;
}
.about_tabs_textos > p {
  font-size: 1.4rem;
  margin: 10px 0px 0px 0px;
  color: #0b3a5e;
}
.lista_valores {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.4rem;
  color: #0b3a5e;
  margin: 0;
  padding: 0;
}
.lista_valores_content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.lista_valores_content img {
  width: 25px;
  margin-right: 10px;
}
.lista_valores_content li {
  line-height: 1.4rem;
}
@media screen and (max-width: 1199px) {
  .about {
    grid-template-columns: minmax(16px, auto) 1fr minmax(16px, auto);
  }
  .about_container_left {
    grid-column: 2 / 3;
  }
  .about_container_right {
    grid-column: 2 / 3;
    margin-top: 30px;
  }
  .about_tabs_textos {
    min-height: 260px;
  }
}
@media screen and (max-width: 499px) {
  .about_container_right {
    margin-top: 30px;
  }
  .about_tabs_textos {
    min-height: 310px;
  }
}
