.footer {
  width: 100%;
  height: auto;
  background-color: #0b3a5e;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  box-shadow: inset 0 45px 50px 0px #00000059;
}
.container {
  display: flex;
  gap: 60px;
  margin: 0 auto;
  padding: 60px 104px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.text {
  max-width: 350px;
  margin-top: 20px;
  line-height: 30px;
  font-weight: 500;
}
.titulo {
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 28px;
}
.titulo:before {
  width: 15px;
}
.titulo:after {
  width: 45px;
  margin-left: 22px;
}
.titulo:after,
.titulo:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background-color: #fff;
  box-sizing: border-box;
}
.linksUteis ul {
  padding-left: 0;
}
.linksUteis li {
  margin: 18px 0;
}
.linksUteis li a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}
.socialIcons {
  width: 40px;
}
.icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
#email:before {
  content: url("../../assets/images/email.svg");
  display: block;
  width: 25px;
  padding-right: 8px;
  padding-top: 5px;
}
#phone:before {
  content: url("../../assets/images/phone.svg");
  display: block;
  width: 25px;
  padding-right: 8px;
  padding-top: 5px;
}
#endereco:before {
  content: url("../../assets/images/endereco.svg");
  display: block;
  width: 25px;
  padding-right: 8px;
  padding-top: 5px;
}
#enderecoDois:before {
  content: url("../../assets/images/endereco.svg");
  display: block;
  width: 25px;
  padding-right: 8px;
  padding-top: 5px;
}
.contactIcon {
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 1418px) {
  .container {
    justify-content: flex-start;
  }
  .container > div, address {
    min-width: 350px;
  }
}
@media screen and (max-width: 1329px) {
  .container {
    justify-content: space-between;
  }
}
@media screen and (max-width: 599px) {
  .container {
    padding: 60px 0px;
    margin: 0px 16px;
    flex-direction: column;
    align-content: center;
    align-items: unset;
  }
  .container > div, address {
    text-align: center;
    min-width: unset;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sigaNos:after,
  .sigaNos:before {
    left: 15%;
  }
  .titulo:after,
  .titulo:before {
    left: 40%;
  }
  .icons {
    justify-content: center;
  }
}